:root {
  --red: #d32f2f;
  --black: #1f1f1f;
  --gray: #424242;
  --white: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-family: "Exo 2", sans-serif;
}

body {
  background-color: #1f1f1f;
}

/* =================== Home =================== */

.logo img {
  width: 120px;
}

header {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  color: var(--white);
  height: 100vh;
  background-image: url(assets/home-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-texts h1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 150px;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  max-width: 400px;
  font-size: 16pt;
}

.home-texts p {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-bottom: 60px;
}

.home-texts div {
  display: flex;
  justify-content: center;
}

.btn-contact {
  width: 180px;
  height: 50px;
  background-color: var(--red);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-contact a {
  font-size: 11pt;
  color: var(--white);
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

/* =================== Home =================== */

/* =================== Imagens =================== */

.imgs {
  display: grid;
  /* max-width: 800px; */
  grid-template-columns: repeat(3, 1fr);
}

.imgs img {
  width: 100%;
  height: auto;
}

/* =================== Imagens =================== */

/* =================== Serviços =================== */

.servicos {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.servicos h2 {
  padding-top: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.title-service {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.container-service img {
  width: 50px;
  margin-bottom: 5px;
}

.text-service {
  max-width: 480px;
  font-size: 13px;
}

.container-service {
  margin-bottom: 30px;
  max-width: 300px;
}

.container-services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .container-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.container-btn-contact {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbdce2;
}

.container-btn-contact p {
  font-weight: 700;
  font-size: 16px;
  padding: 25px 20px;
}

/* =================== Serviços =================== */

/* =================== Planos =================== */

.planos {
  padding-left: 20px;
  padding-right: 20px;
}

#title-plan {
  text-align: center;
  color: var(--white);
  padding-top: 20px;
}

.container-cards-planos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 45px;
  gap: 20px;
}

.container-card {
  background-image: url(assets/Card\ Container.png);
  background-size: cover;
  width: 280px;
  height: 390px;
  padding: 72px 30px 30px 30px;
}

.container-card h2 {
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

.container-card p {
  font-size: 13px;
}

.lista {
  font-size: 13px;
  list-style: disc;
  list-style-position: inside;
}

.preco {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  padding-top: 15px;
}
.item-lista {
  margin-top: 6px;
}

.atendente {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #dbdce2;
  padding: 25px 20px 25px 20px;
}

.atendente p {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
}

/* =================== Footer =================== */
footer {
  background-color: var(--gray);
  padding: 25px 20px 30px 20px;
}

.social img {
  width: 26px;
}

.funcionamento {
  color: var(--white);
}

.funcionamento p {
  font-size: 12pt;
  margin-bottom: 15px;
}

#title-funci {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12pt;
  margin-bottom: 10px;
}

.line {
  display: flex;
  background-color: var(--red);
  height: 3px;
  width: 80%;
  border-radius: 10px;
  margin: 15px auto;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social p {
  font-weight: 400;
  font-size: 12pt;
  color: var(--white);
}

.slogan {
  font-weight: 800;
  color: var(--white);
  text-align: center;
  letter-spacing: 2px;
}

.credito {
  text-align: center;
  color: var(--white);
  font-size: 10pt;
}

.container-socials {
  display: flex;
  flex-direction: column;
}
/* =================== Footer =================== */

/* =================== MEDIAS =================== */

@media (min-width: 768px) {
  .imgs {
    grid-template-columns: repeat(3, 1fr);
  }

  .container-cards-planos {
    display: flex;
    flex-direction: row;
    gap: 10px 30px;
  }

  .container-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    justify-items: center;
  }
  .title-service {
    font-size: 18px;
  }
  .text-service {
    font-size: 15px;
  }

  .home-texts h1 {
    padding-left: 150px;
    font-size: 20pt;
    max-width: 600px;
  }

  .home-texts p {
    max-width: 600px;
    padding-left: 150px;
    font-size: 18px;
  }
  .home-texts div {
    justify-content: flex-start;
    padding-left: 150px;
  }

  .container-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }

  #title-funci {
    text-align: center;
  }

  .funcionamento p {
    text-align: center;
  }
  .servicos {
    padding: 50px 80px 50px 80px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .imgs {
    grid-template-columns: 1fr;
  }
}
